/* ========= GENERAL ========= */
div.App {
  margin: 0px 20px;
}

h3 {
  font-size: 1.25rem;
}
h1 {
  font-size: 3rem;
}
p, li, span, a, label {
  font-family: 'Arial';
}
h1, h2, h3, h4 {
  font-family: 'Verdana';
}

input[type="text"]:focus, textarea:focus {
  border-bottom: solid 2px black;
}
input[type="text"], textarea {
  font-family: 'Arial';
  font-size: 1rem;
  border: none;
  border-bottom: solid 2px rgb(100,100,100);
  transition: 0.3s;
  outline: none;
}

hr {
  border: dashed 2px #ccc;
  margin: 40px 0px;
}

/* ========== HEADER AND ARTICLE INPUT ============= */
div.header {
  text-align: center;
}

div.editor-class {
  padding: 0px 15px;
}

div.wrapper-class {
  max-width: 1000px;
  border: solid 2px rgb(100,100,100);;
  min-height: 300px;
  transition: 0.3s;
}

div.wrapper-class:focus {
  border-color: black;
}

div.rdw-dropdown-wrapper {
  border: solid 1px black;
}

div.toolbar-class div.rdw-option-wrapper {
  border: solid 1px black;
}

/* ========== COLOR PICKERS AND PREVIEWS ============= */

div.color-pickers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.color-pickers > div.picker {
  margin: 0px 20px;
}

input[type="file"] {
  margin-left: 20px;
  font-family: 'Arial';
  font-size: 1rem;
}

div.preview-welcome, div.preview-body {
  text-align: center;
  height: 300px;
  max-width: 533px;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

div.preview-welcome {
  align-items: center;
  justify-content: center;
}

div.preview-welcome>h1 {
  margin-top: 0;
}

div.preview-welcome > button {
  background-color: rgba(0,0,0,0);
  border: solid 1px;
  padding: 5px 15px;
  margin-top: 5px;
}

@media only screen and (min-width: 1120px) {
  div.preview-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
}

div.preview-body>div.body-inner {
  text-align: left;
  padding: 0 125px 0 75px;
}

div.preview-body>div.body-inner h1 { font-size: 2rem; }
div.preview-body>div.body-inner h2 { font-size: 1.4rem; }
div.preview-body>div.body-inner h3 { font-size: 1rem; }
div.preview-body>div.body-inner h4 { font-size: 0.8rem; }
div.preview-body>div.body-inner p, div.preview-body>div.body-inner li, 
  div.preview-body>div.body-inner label, div.preview-body>div.body-inner span, 
  div.preview-body>div.body-inner a { font-size: 0.67em; }